// Font family

$regular-font: "Aavenir Next Regular";
$demi-font: "Avenir Next Demi";
$bold-font: "Avenir Next Bold";

// Font color
$primary-color: #ffffff;
$secondary-color: #323232;
$tertiary-color: #afafaf;
$selected-color: #e1e1e1;
$hover-color: #fafafa;
$bandsite-black-color: #000000;
