.hero-banner {
  display: flex;
  background-image: url("../assets/images/hero-bio.jpg");
  align-items: center;
  background-size: cover;
  min-height: 50vh;
}
.hero-banner__title {
  font-family: "Avenir Next Bold";
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
}
@media screen and (min-width: 1000px) {
  .hero-banner__title {
    font-size: 60px;
    padding: 20px;
  }
}

.show-banner {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/hero-shows.jpg");
  justify-content: space-around;
  align-items: left;
  background-size: cover;
  min-height: 50vh;
  padding: 24px 16px 16px 16px;
}
.show-banner__row {
  color: #ffffff;
  margin-bottom: 10px;
}
.show-banner__row-subtitle {
  font-size: 24px;
  font-weight: bold;
}
.show-banner__row h1 {
  font-family: "Avenir Next Bold";
  font-size: 24px;
  line-height: 32px;
  font-weight: bold 700;
}
.show-banner__row-title {
  font-family: "Avenir Next Bold";
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold 700;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .show-banner__row-title {
    font-size: 60px;
    line-height: 68px;
    padding: 20px;
    font-weight: bold 700;
  }
}
.show-banner__row-song iframe {
  width: 100%;
  height: 166px;
  border: none;
}
.show-banner button#playButton {
  color: white;
  background-color: #ff5500;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.show-banner button#playButton:hover {
  background-color: #ff3300;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.about__img {
  width: 100%;
  align-items: center;
}
.about__img-caption {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir Next Bold";
  font-weight: 400;
  align-items: baseline;
}
.about__content {
  display: flex;
  flex-direction: column;
}
.about__content--left {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .about__content {
    flex-direction: row;
  }
  .about__content--left {
    margin-bottom: 0px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 48px 36px 36px 36px;
}
.gallery__title {
  font-family: "Avenir Next Bold";
  color: #323232;
  font-size: 24px;
}
.gallery__image-container {
  display: flex;
  flex-direction: column;
}
.gallery__image-container--row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.gallery__image-container--row img {
  width: 100%;
  margin: 5px;
}
@media screen and (min-width: 1000px) {
  .gallery__image-container--row img {
    height: 200px;
    width: 300px;
  }
}
@media screen and (min-width: 1000px) {
  .gallery__image-container--row {
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (min-width: 768px) {
  .gallery {
    width: auto;
    padding: 48px 36px 36px 6px;
  }
}

.comment_section {
  width: 100%;
  display: flex;
  margin: auto;
}
.comment_section__profile-picture {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
  padding: 24px 16px 16px 16px;
}
.comment_section__profile-picture-morgan {
  width: 40px;
  height: 40px;
  background-image: url(../assets/logos/Mohan-muruge.jpg);
  border-radius: 50%;
  margin-right: 10px;
  padding: 24px 16px 16px 16px;
  justify-content: flex-start;
}

.comment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comment-form label {
  margin-bottom: 5px;
}
.comment-form textarea {
  height: 50px;
  font-family: "Aavenir Next Regular";
  color: #323232;
  background-color: #e1e1e1;
}
.comment-form button {
  align-self: flex-end;
  background-color: #323232;
  color: #ffffff;
  font-family: "Avenir Next Bold";
  padding: 8px 16px;
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
@media (min-width: 768px) {
  .comment-form button {
    padding: 8px 32px;
    flex-direction: row;
    width: 150px;
  }
}
.comment-form button:hover {
  background-color: #000000;
}

.status-updates__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.status-updates__list .status-update {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #afafaf;
}
.status-updates__list .status-update__name {
  font-family: "Avenir Next Bold";
  color: #323232;
  font-weight: bold;
  margin-right: 10px;
}
.status-updates__list .status-update__timestamp {
  margin-left: auto;
  color: #afafaf;
}
.status-updates__list .status-update__text {
  margin-top: 5px;
}

.status-update__like-button {
  background-color: #ffffff;
  color: #323232;
  padding: 5px 10px;
  border: 1px solid #afafaf;
  cursor: pointer;
}

.status-update__delete-button {
  background-color: #ffffff;
  color: #323232;
  padding: 5px 10px;
  border: 1px solid #afafaf;
  cursor: pointer;
}/*# sourceMappingURL=bio.css.map */